/*  your css code here. If applicable */
.hero {
  display: flex;
	justify-content:center;
	align-items:center;
 
}
.img-div{
	width:50%;
}
.image{
	width: 50%;
}
.hero-content {
  text-align: center;
	width:50%;
	align-content:center;
}

.explore-now {
  padding: 9px 10px;
  background-color: #007bff;
  color: #ffffff;
  border-radius: 5px;
  text-decoration: none;
}
/* h2{
	padding-right:120px;
	padding-left:5px;
}
p{
	padding-right:120px;
	padding-left:5px;
}
 */
