.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.hero img {
  width: 50%;
  height: 50%;
  object-fit: cover;
}

.hero-content {
  z-index: 1;
  text-align: center;
}

.explore-now {
  padding: 10px 20px;
  background-color: #007bff;
  color: #ffffff;
  border-radius: 5px;
  text-decoration: none;
}
